.header{
    position: fixed;
    top: 0;
    background-color: #8a2b06;
    padding: 1rem 8rem;
    /* position: relative; */
    overflow: hidden;
    width: 100%;
    height: 80px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
.header h1{
    float: left;
    color: #ffff;
}
img{
    position: absolute;
    width: 100%;
    z-index: -1;
    overflow: hidden;
    top: -120px;
    left: 0;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 95%);
}